.box {
    width: 300px;
    height: 200px;
    background-color: ghostwhite;
    color: rgb(24, 4, 4);
    border: 5px: 20px;
    margin: 50px;
}

nav {
    background-color: pink;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: gold;
    color: black;
    padding: 5px 10px;
}

nav a:hover {
    background-color: darkgrey;
}